*{
    margin: 0;
    padding: 0;
    background-color: rgb(15,10,107);
}

h1, h2, p{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    color: rgb(222,183,215);
}

ol, li{
    font-family: 'Lato', sans-serif;
    color: rgb(222,183,215);
    padding: 5px;
}

.artigo{
    padding: 20px;
}

.titulo{
    padding-top: 50px;
}

.navegador{
    display: flex;
    background-color: rgb(222,183,215);
    padding: 15px;
}

.navegador > .botao-navegador{
    color: rgb(222,183,215);
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 10px;
}

.navegador > .botao-navegador:hover{
    background-color: rgb(222,183,215);
    color: rgb(15,10,107);
}